[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
youtube-dl = "*"
loguru = "*"
pysimplegui = "*"
trustme = "*"
anyio = {extras = ["trio"],version = "*"}

[requires]
python_version = "3.7"
